# compiled Python
*.pyc

# Doxygen documentation
docs

# Release
build
dist
MANIFEST

# testing
*.log
__pycache__

*.pcap
test_report.xml
/*.dblite

# misc
venv/*
.idea

openwsn_coap.egg-info/dependency_links.txt
openwsn_coap.egg-info/PKG-INFO
openwsn_coap.egg-info/requires.txt
openwsn_coap.egg-info/SOURCES.txt
openwsn_coap.egg-info/top_level.txt
